<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
    <meta name="description" content="张少良的个人网站，Yuri Zhang's personal website.">
    <meta name="keywords" content="张少良，张少良博客，zhangshaoliang.com，yurizhangholyhigh">
    <script src="../src/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../src/css/index.css">
    <title>张少良的个人网站</title>
</head>
<body>
{{content}}
</body>
</html>
